@font-face {
	font-family: 'Antipasto-Pro-ExtraLight-trial'; 
	src: local('Antipasto-Pro-ExtraLight-trial'),
		url(fonts/Antipasto-Pro-ExtraLight-trial.ttf); 
}
@font-face {
	font-family: 'FuturaPT-Book'; 
	src: local('FuturaPT-Book'),
		url(fonts/FuturaPT-Book.ttf); 
}
@font-face {
	font-family: 'Antipasto-Pro-Regular-trial'; 
	src: local('Antipasto-Pro-Regular-trial'),
		url(fonts/Antipasto-Pro-Regular-trial.ttf); 
}
@media screen and (max-width: 700px) {
    .brdr {font-size: 30px !important;}
   }
.clear{
    background-color: rgba(255,255,255, 0);
    border:none;
}
.divNew{
    color:#fff !important;
    bottom:45%;
}
.IncludesNewsRow{
    height: 60vw;
    overflow: hidden;
}
.navMargin{
    margin-top:100px;
}
.buttonCollections{
    color:#fff;
    background-color:#dac38f;
    border:none;
    border-radius:0px;
    width:auto;
    margin:auto;
    letter-spacing: .05em;
    padding-top:1rem;
   
    font-family: "Antipasto-Pro-ExtraLight-trial";
}
.buttonCollections:hover{
    
    background-color:#dab767;
}
.numInBsk{
    border:1px #b3b3b3 solid ;
    border-radius:50%;
    background-color:#a2a2a2;
    top:0;
    right:0;
    height:20px;
    width:20px;
    color:#ffed00;
    font-size: small;
}
.wareListNew{
    flex-wrap: nowrap;
    align-items: start;
   
    justify-content: space-around;
   
}

.navbar{
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 60px;
    top:0;

}
.casts{
    top:0px;
    background-color:#fff;
    width:100%;
}
.discript{
    border:1px solid #efefef;
    width: 70%;
    color:#7f7f7f;
    
}
.discript h4{
    font-weight:200;
    margin:auto;
}
.rowsDataClient{
    background-color: #f7f7f7;
    width: 70%;
    right:10%;
    
}
.dataRowsClient{
padding:0px;
margin:0px;
}
.headDiscript{
    font-weight:200;
    color:#7f7f7f;
}
.courierNew{
    font-family: "FuturaPT-Book";
    color:#6f6f6f;
    text-transform: uppercase;
}
.fontPrice{
    font-family:"FuturaPT-Book"!important;
}
.footer{
    background-color:#c5c5c5;
}
.imageWareItem{
    object-fit: cover;
    height: 100%;

}
.logo{
  height: 35px;
}
.bskImg{
  width: 60%;
}
.basketItem{
  margin-top: 10px;
  font-family: "FuturaPT-Book";
}
.adminIconsH1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.FormToSale{
  font-family: "FuturaPT-Book";
}
.btnAddToBasket{
color: #fff !important;
border-radius:1px !important;
border-width: 2px !important;
background-color: #e6ceb6 !important;
border-color: #e6ceb6 !important;
}
.btnAddToBasket:hover{
color: #e6ceb6 !important;
background-color: #fff !important;

}
.plusMinus{
    height:35px;
    border:1px solid #e4e4e4;
    width: 115px;
    color:#5a5a5a;
}
.plus{
    width:33.3333333333%;
    height:100%;
    border-left:1px solid #e4e4e4;
    line-height:200%;
}
input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.minus{
    width:33.3333333333%;
    height:100%;
    border-right:1px solid #e4e4e4;
    line-height:200%;
}
.plusMinusInput{
    width:33.333333333%;
    height:100%;
    border: none;
    color:#5a5a5a;
    
}
.dropdown{
    margin-left:20px;
}
.des{
    min-height: 300px;
}
.feedback{
    min-height: 300px;
}
.size{
  border: 1px #ffa800 solid;

  font-family: "FuturaPT-Book";
}
.size a {
  color: #000;
}
.basketH1{
  font-family: "FuturaPT-Book";
}
.spinn{
  left: 50%;
  top: 50%;
}
.headWare{
    color:#474747
}
.navbar-toggler{
  border: none;
  padding:0;
}
.navbar-brand{
    font-size: 30pt !important;
    font-family: -apple-system;
    margin: 0px;
}
.imgGoodsCart{
    height: 70%;
    width: 100%;
}

.wareItem img{
   width: 100%;
   cursor:pointer;
}
.navNav{
    font-family: "FuturaPT-Book";
    text-transform: uppercase;
    color:#5c5c5c;
    font-size: 13pt;
}

.wareItem{
    display: flex;
    margin: 15px;
    flex-direction: column;
    align-content: center;
}
.wareList{
    justify-content:space-evenly;
}
.wareItem hr{
    position:absolute;
    bottom: 0;
    left:calc(-30px);
    width:calc(100% + 100px);
    opacity:1;
    color:#a4a4a4;
    margin:0;
}
.row{
    margin-right: auto !important;
}
.images{
    background-position: center;
    background-size: 150%;
    height: 70vw;
    position: relative;
    animation: imageSize 20s infinite;
}
.h-70vw{
    height: 60vw;
}

.brdr{

    margin-top: 10%;
    margin: auto;
    font-size: 20pt;
    font-family: "FuturaPT-Book";
    text-transform: uppercase;
    max-width: 70%;
    color: aliceblue;

}
.admin{
        overflow: scroll;
}
.account{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
}
.imgNew{
    overflow:hidden;
    height:80vw;
}

/*@media (min-width: 1024px){*/
/*    .wareItem{*/
/*        width: 20%;*/
/*    }*/
/*}*/
/*@media (min-width: 900px){*/
/*    .wareItem{*/
/*        width: 40%;*/
/*    }*/
/*}*/
/*@media (min-width: 600px){*/
/*    .wareItem{*/
/*        width: 90%;*/
/*    }*/
/*}*/

/*.nav-item{*/
/*    margin: auto;*/
/*}*/
/*.navbar{*/
/*    justify-content: center;*/
/*    flex-grow: 0 !important;*/
/*}*/
