
.logo{
  height: 50px;
}
.dropdown{
    margin-left:20px;
}
.des{
    min-height: 300px;
}
.feedback{
    min-height: 300px;
}
.size{

}
.spinn{
  left: 50%;
  top: 50%;
}
.headWare{
    color:#474747
}
.navbar-brand{
    font-size: 30pt !important;
    font-family: -apple-system;
}
.imgGoodsCart{
    height: 70%;
    width: 100%;
}

.wareItem img{
   width: 100%;
}
.navNav{
    font-family: "Courier New";
    font-size: 16pt;
}

.wareItem{
    display: flex;
    margin: 35px;
    flex-direction: column;
    align-content: center;
}
.row{
    margin-right: auto !important;
}
.images{
    background-position: center;
    background-size: 150%;
    height: 70vw;
    position: relative;
    animation: imageSize 20s infinite;
}
.h-70vw{
    height: 60vw;
}

.brdr{
    border: aliceblue solid 3px;
    margin-top: 10%;
    font-size: 70px;
    font-family: ui-monospace;
    max-width: 70%;
    color: aliceblue;

}
.account{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
}

/*@media (min-width: 1024px){*/
/*    .wareItem{*/
/*        width: 20%;*/
/*    }*/
/*}*/
/*@media (min-width: 900px){*/
/*    .wareItem{*/
/*        width: 40%;*/
/*    }*/
/*}*/
/*@media (min-width: 600px){*/
/*    .wareItem{*/
/*        width: 90%;*/
/*    }*/
/*}*/

/*.nav-item{*/
/*    margin: auto;*/
/*}*/
/*.navbar{*/
/*    justify-content: center;*/
/*    flex-grow: 0 !important;*/
/*}*/
