
.dropdown-menu{
    left: 100%;

}
.navbar-brand{
    font-size: 2rem !important;
    font-family: -apple-system;
}
/*.nav-item{*/
/*    margin: auto;*/
/*}*/
/*.navbar{*/
/*    justify-content: center;*/
/*    flex-grow: 0 !important;*/
/*}*/